.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 80%;
}

.input_box {
  margin-bottom: 15px;
}

.input_box label {
  display: block;
  margin-bottom: 5px;
}

.input_box input {
  width: 100%;
  padding: 10px;
  color: rgb(76, 73, 73);
  border-radius: 5px;
  border: 1px solid #ccc;
}

.close_btn {
  background: red;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}
.submit_btn {
  background: green;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}
.submit_btn:hover {
  background: darkgreen;
}

.radio {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

.radio label {
  font-size: 14px;
  color: #000;
}

.radio input[type="radio"] {
  margin-right: 8px;
}
