.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #cccad4;
  padding: 15px 7%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 160px;
  cursor: pointer;
}

ul {
  flex: 1;
  list-style: none;
  text-align: center;
}

ul li {
  display: inline-block;
  margin: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

.logout {
  display: inline-block;
  margin: 10px 20px;
  font-size: 35px;
  cursor: pointer;
  color: black;
}

.search-box {
  display: flex;
  align-items: center;
  background: #242424;
  padding: 10px 20px;
  border-radius: 50px;
}

.search-box input {
  padding: 6px;
  background: transparent;
  border: 0;
  outline: 0;
  color: #fff;
  font-size: 18px;
  max-width: 200px;
}

.search-box input::placeholder {
  color: #fff;
}

.search-box img {
  width: 20px;
  cursor: pointer;
}

.navbar-link {
  text-decoration: none;
  color: black;
}
