.container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 10px;
  margin-left: 10px;
}

.buttonWrapper {
  margin-top: 20px;
  margin-left: 180px;
  display: flex;
  gap: 20px;
}